@import '../../../styles/abstracts/variables';

:local {
  .Form {
    width: 100%;

    .Heading {
      font-size: 24px;
      line-height: 32px;
      color: $astral;
      text-align: center;
    }
  }

  .ButtonBox {
    display: flex;
    justify-content: center;

    .Button {
      margin-left: 16px;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  .ConditionBox {
    display: flex;
    align-items: center;

    .Symbol {
      padding-top: 6px;
    }
  }
}