@import '../../../styles/abstracts/variables';

:local {
  .Form {
    width: 100%;
  }

  .ButtonBox {
    display: flex;
    justify-content: center;

    .Button {
      margin-left: 16px;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  .ConditionBox {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    position: relative;

    &:last-child {
      margin-bottom: 0;
    }

    .Symbol {
      position: absolute;
      top: 22px;
      left: -10px;
    }
  }

  .Results {
    display: flex;
    flex-direction: column;

    .ResultItem {
      margin-bottom: 8px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .ErrorBox {
    padding: 12px;
    display: flex;
    justify-content: center;
    color: $red-orange;
  }
}