@import '../../../styles/abstracts/variables';

:local {
  .MainSection {
    background-color: $white;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: relative;
    padding: 100px 24px 0;
  }
}