@import "../../styles/abstracts/variables";

:local {
  .Wrapper {
    width: 100%;

    .FormControl {
      margin-bottom: 8px;
    }

    .Label,
    .LabelFocused {
      color: $astral-light;
    }

    .HintError,
    .LabelError {
      color: $red-orange;
    }
  }
}